[v-cloak] {
	display: none;
}

body {
	background-color: #ededed;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.photos {
	width:300px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.photoDetails {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 8px;
	max-width: 100%;
}
.photoTitle {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-left: 6px;
	margin-right: 0;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
	word-wrap: break-word;
	max-width: 100%;
	color: #2e7bf7;
	text-decoration: none;
}
.photoTitle:hover{
	text-decoration: underline;
}
.by {
	font-weight: 400;
	color: #878787;
}
.by:hover{
	text-decoration: none;
}
.author {
	text-decoration: none;
}
.author:hover{
	text-decoration: underline;
}
.tags {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	margin: 0;
	font-size: 14px;
	color: #878787;
	word-wrap: break-word;
	max-width: 100%;
}
.thumbnail {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.searchBar {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-style: solid;
	border-color: #d8d8d8;
	width: 600px;
	height: 40px;
	margin: 30px;
	padding-left: 10px;
	font-size: 20px;
	outline: none;
}
