[v-cloak] {
	display: none;
}

body {
	background-color: #ededed;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.photos {
	width:350px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 80px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.photoDetails {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
	max-width: 100%;
}
.photoTitle {
	font-family: 'Open Sans', sans-serif;
	margin-left: 6px;
	margin-right: 0;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
	word-wrap: break-word;
	max-width: 100%;
	text-decoration: none;
}
.title {
	color: #2e7bf7;
	font-weight: 600;
	cursor: pointer;
}
.title:hover{
	text-decoration: underline;
}
.by {
	color: #aaaaaa;
	font-weight: 400;
}
.author:hover{
	text-decoration: underline;
	cursor: pointer;
}
.photoDesc {
	display: block;
	margin-top: 15px;
	max-width: 100%;
}
.desc {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	display: inline;
	margin: 0;
	font-size: 14px;
	color: #494949;
	word-wrap: break-word;
	max-width: 100%;
}
.tags {
	font-weight: 300;
	color: #aaaaaa;
}
.toggle {
	color: #2e7bf7;
	display: inline;
	cursor: pointer;

}
.toggleTags {
	color: #aaaaaa;
	display: inline;
	cursor: pointer;
	text-decoration: underline;
}
.less:hover{
	text-decoration: underline;
}
.thumbnail {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
}
.loading {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #383838;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;

}

.searchBar {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-style: solid;
	border-color: #d8d8d8;
	width: 600px;
	height: 40px;
	margin: 30px;
	padding-left: 10px;
	font-size: 20px;
	outline: none;
}
